.App {
  background-image: url("https://i.postimg.cc/fyKB8p26/temp-Image-E06r-Z8.jpg");
  background-size: cover;
}

.app-logo {
  height: 40vmin;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  mix-blend-mode: multiply;
}
.game-text {
  top: 230px;
  height: 40vmin;
  position: absolute;
  color: #740f8a;
  left: 200px;
  margin: 10px;
  font-weight: bold;
}

.scooby-picture {
  height: 80vmin;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  right: 0;
}

.second-line {
  padding-left: 20px;
}
.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.adunare {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: left;
  margin: 20px 0;
  margin-right: 700px;
  margin-top: 250px;
  font-weight: bold;
  background-color: #c5d5e2;
  border-radius: 12px;
}

.scadere {
  font-size: 30px;
  padding: 10px 20px;
  text-align: left;
  margin: 20px 0;
  margin-right: 700px;
  font-weight: bold;
  background-color: #c5d5e2;
  border-radius: 12px;
}

.combinate {
  font-size: 30px;
  padding: 10px 20px;
  text-align: left;
  margin: 20px 0;
  margin-right: 700px;
  font-weight: bold;
  background-color: #c5d5e2;
  border-radius: 12px;
}
