.choose-scooby-logo {
  max-width: 350px;
  max-height: 200px;
  height: 40vmin;
  margin-top: 30px;
  mix-blend-mode: multiply;
  padding-left: 1150px;
  position: absolute;
}

.choose-scooby {
  padding-top: 50px;
  max-height: 600px;
  padding-bottom: 20px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
}

.pic {
  max-height: 125px;
  max-width: 175px;
  padding-left: 90px;
}

.text {
  padding-left: 50px;
  
  font-size: large;
  font-family: "Gill Sans";
  color: #740f8a;
  font-weight: bold;
  text-align: center;
}

.home-button {
  background-color: #740f8a;
  position: absolute;
  color: #fff;
  border-radius: 5px;
}

.home-button-container {
  padding-left: 20px;
  height: 50px;
}

.choose-scooby-text {
  font-size: xx-large;
  font-family: "Gill Sans";
  color: #740f8a;
  font-weight: bold;
  padding-left: 40px;
  padding-top: 200px;
  margin-bottom: 20px;
}

.scooby-crew {
  max-height: 300px;
  max-width: 350px;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  margin-left: 1150px;
  align-items: last baseline;
}

.mistery-button-container {
  padding-left: 125px;
  padding-top: 0px;
  margin: 0;
}

.mistery-button {
  font-size: 15px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #c5d5e2;
  cursor: pointer;
  margin: 0;
  transition: background-color 0.3s ease;
}

.mistery-container {
  max-height: 300px;
  max-width: 300px;
  width: 80%;
  margin: 0;
}