.CongratsPage {
  background-image: url("https://i.postimg.cc/ydRYmj3R/temp-Image-SQR9w5.jpg");
  background-size: cover;
}

.congrats-logo {
  height: 20vmin;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 500px;
  mix-blend-mode: multiply;
}
.congrats-text {
  top: 300px;
  font-size: xx-large;
  max-height: 60vmin;
  position: absolute;
  color: #740f8a;
  left: 200px;
  margin-left: 70px;
  font-weight: bold;
}

.scooby-picture-congrats {
  max-height: 700px;
  max-width: 850px;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  margin-left: 950px;
  align-items: last baseline;
}

.scooby-sd {
  max-height: 100px;
  max-width: 100px;
  mix-blend-mode: multiply;
  margin-right: 1300px;
  margin-block-start: 100px;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.CombinatePage button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  margin-right: 500px;
}

.button-container button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: bold;
  background-color: #c5d5e2;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #a9c3d0;
}
