.start {
  background-image: url("https://i.postimg.cc/fyKB8p26/temp-Image-E06r-Z8.jpg");
  background-size: cover;
}

.app-logo {
  height: 40vmin;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  mix-blend-mode: multiply;
}
.game-text {
  top: 230px;
  max-height: 40vmin;
  color: #740f8a;
  left: 200px;
  font-weight: bold;
}

.scooby-picture {
  max-height: 500px;
  max-width: 650px;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  margin-left: 750px;
  align-items: last baseline;
}

.scooby-sd {
  max-height: 100px;
  max-width: 100px;
  mix-blend-mode: multiply;
  margin-right: 1300px;
  margin-block-start: 100px;
}

.second-line {
  padding-left: 20px;
}
.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  margin-right: 500px;
}

.button-container button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: bold;
  background-color: #c5d5e2;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #a9c3d0;
}
